.social-icons {
  display: flex;
  gap: 35px;
  justify-content: center;
  background-color: #6fa8dc;
  padding: 3.5rem;
}

.social-icons a{
  font-size: 24px;
  color: rgb(16, 52, 110);
}

.social-icons a:hover {
  transform: scale(1.04);
}


.underline-footer{
  width: 100%;
  height: 1px;
  background-color:  #0e163c;;   /* tamna crta kao na Louvre stranici */
}

.copyright{
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color:  #6fa8dc;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(16, 52, 110); 
}