

.user-type-select select {
  margin-bottom: 6rem;
  padding: 0.6rem 20rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  padding-left: 10px;
}

.user-type-select select:hover {
  border-color: #007bff;
}

.user-type-select select option:disabled {
  color: #999;
}