@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    background-color: #f3f4f6;
}
